@model RCVS.Models.LoginModel

@{
	ViewBag.Title = "Log in";
}

<div class="wysiwyg">
	@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, @class = "forms default" }))
 { 
	 
	<h1>Login</h1>
	 
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)

		<fieldset>
			<legend>Please provide your login details below</legend>
			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(m => m.UserName)
				</div>
				<div class="editor-field input">
					@Html.TextBoxFor(m => m.UserName)
					@Html.ValidationMessageFor(m => m.UserName)
				</div>
			</div>

			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(m => m.Password)
				</div>
				<div class="editor-field input">
					@Html.PasswordFor(m => m.Password)
					@Html.ValidationMessageFor(m => m.Password)
				</div>
			</div>

		</fieldset>

			<input type="submit" value="Log in" class="input_submit"/>
		<br/><br/>
		<p>
			@Html.ActionLink("Register", "Register", "Account") if you don't have an account.
		</p>
 }
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
