@using RCVS.Helpers
@model RCVS.Models.DeclarationOfIntentionModel
@{
	Layout = null;
}
<div class="wysiwyg">

	@{
		ViewBag.Title = "Initial / first declaration of intention to sit";
		Layout = "~/Views/Shared/_Layout.cshtml";
	}

@*	@if (ViewBag.SuccessfulSubmit)
 {
		<div class="submitSuccessful">
			Your information has been successfully saved
		</div>
 }*@
	<h1>Initial / first declaration of intention to sit</h1>

@{
	if (!string.IsNullOrEmpty(Request.QueryString["submittedok"]))
	{
		@Html.Raw("<h2 class='submittedOK'>Your information was saved successfully</h2>");
	}
}

	<div class="layout">
		<p>
			<span>You can submit your initial declaration of intention to sit the RCVS statutory membership examination at any time.  It is the first step in the examination process.  On receipt RCVS will create an examination record for you and, if you have stated that you plan to see practice as part of your examination preparation, we shall write to confirm that you are eligible to do so. 
			</span>
		</p>
		<br />
	</div>
	@using (Html.BeginForm("DeclarationOfIntention", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "forms default" }))
 {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)

@*@Html.DropDownListFor(x => x.Activities, Model.Activities)			*@
		
		<fieldset>
			<legend>Choose examination year</legend>
			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.YearsDropdown)
				</div>
				<div class="editor-field input">
					@Html.DropDownListFor(x => x.YearToSit, Model.YearsDropdown)
					@Html.ValidationMessageFor(model => model.YearsDropdown)
				</div>
				<div class="ui-icon-help" title="help"></div>
			</div>
		</fieldset>

		<fieldset>
			<legend>Will you see practice?</legend>
			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.PlanToSeePractice)
				</div>
				<div class="editor-field input">
					@Html.DropDownListFor(model => model.PlanToSeePractice, new List<SelectListItem>()
						{ new SelectListItem(){ Text = "Yes", Value="True"}, 
							new SelectListItem(){ Text = "No", Value="False"}})
					@Html.ValidationMessageFor(model => model.PlanToSeePractice)
				</div>
			</div>
			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.CurrentlySeeingPractice)
				</div>
				<div class="editor-field input">
					@Html.DropDownListFor(model => model.CurrentlySeeingPractice, new List<SelectListItem>()
						{ new SelectListItem(){ Text = "Yes", Value="True"}, 
							new SelectListItem(){ Text = "No", Value="False"}})
					@Html.ValidationMessageFor(model => model.CurrentlySeeingPractice)
				</div>
			</div>
				
			@if (Model.PracticeArrangements.Count > 0)
	 {
			<p><span>Seeing practice arrangements and/or plans - regular updates up to a maximum of 3 times a year, in late December/early January, in April and in August/September</span></p>
	 }
	 else
	 {
				<p>Please add 'seeing practice' details using the 'add practice' button below</p>
	 }


			@Html.Raw(Html.EditTable("tblPractices", Model.PracticeArrangements, null))

			<input id="addPractice" class="input_button" type="button" value="Add practice..." />

		@*	@{ int i = 0; }
			@foreach (var obj in Model.PracticeArrangements)
	 {	
				@Html.HiddenFor(m => m.PlanToSeePractice[i].Name)
				@Html.HiddenFor(m => m.Qualifications[i].AwardingBody)
				@Html.HiddenFor(m => m.Qualifications[i].ObtainedDate)
		 ++i;
	 }*@

		</fieldset>

		<fieldset>
			<legend>International English Language Testing System (IELTS)</legend>
			<div class="layout">
				<p>
					<span>Before you can apply for examination, you must send your original IELTS test report form (TRF) to RCVS so that we can verify your score and confirm that you have met the RCVS English language competence requirement.
					</span>
				</p>
			</div>
			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.IELTS)
				</div>
				<div class="editor-field input">
					@Html.TextBoxFor(model => model.IELTS, new { type = "file" })
					@Html.ValidationMessageFor(model => model.IELTS)
				</div>
			</div>
			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.TakeTestPlanDate)
				</div>
				<div class="editor-field input">
					@Html.EditorFor(model => model.TakeTestPlanDate)
					@Html.ValidationMessageFor(model => model.TakeTestPlanDate)
				</div>
			</div>
			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.TrfDetails)
				</div>
				<div class="editor-field input">
					@Html.EditorFor(model => model.TrfDetails)
					@Html.ValidationMessageFor(model => model.TrfDetails)
				</div>
			</div>

		</fieldset> 
		 
		<fieldset>
			<legend>Veterinary Qualification</legend>
			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.PrimaryVeterinaryDegree)
				</div>
				<div class="editor-field input">
					@Html.EditorFor(model => model.PrimaryVeterinaryDegree)
					@Html.ValidationMessageFor(model => model.PrimaryVeterinaryDegree)
				</div>
			</div>

			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.UniversityThatAwardedDegree.Name, "Name of university which awarded your veterinary degree")
				</div>
				<div class="editor-field input">
					@Html.EditorFor(model => model.UniversityThatAwardedDegree.Name)
					@Html.ValidationMessageFor(model => model.UniversityThatAwardedDegree.Name)
				</div>
			</div>

			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.UniversityThatAwardedDegree.City)
				</div>
				<div class="editor-field input">
					@Html.EditorFor(model => model.UniversityThatAwardedDegree.City)
					@Html.ValidationMessageFor(model => model.UniversityThatAwardedDegree.City)
				</div>
			</div>

			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.UniversityThatAwardedDegree.CountriesDropdown)
				</div>
				<div class="editor-field input">
					@Html.DropDownListFor(x => x.UniversityThatAwardedDegree.Country, Model.UniversityThatAwardedDegree.CountriesDropdown)
					@Html.ValidationMessageFor(model => model.UniversityThatAwardedDegree.CountriesDropdown)
				</div>
			</div>

			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.GraduationDate)
				</div>
				<div class="editor-field input">
					@Html.EditorFor(model => model.GraduationDate)
					@Html.ValidationMessageFor(model => model.GraduationDate)
				</div>
			</div>

			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.CourseStartDate)
				</div>
				<div class="editor-field input">
					@Html.EditorFor(model => model.CourseStartDate)
					@Html.ValidationMessageFor(model => model.CourseStartDate)
				</div>
			</div>
			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.CourseEndDate)
				</div>
				<div class="editor-field input">
					@Html.EditorFor(model => model.CourseEndDate)
					@Html.ValidationMessageFor(model => model.CourseEndDate)
				</div>
			</div>
			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.NormalCourseLength)
				</div>
				<div class="editor-field input">
					@Html.DropDownListFor(x => x.NormalCourseLength, Model.NormalCourseLengthDropdown)
					@Html.ValidationMessageFor(model => model.NormalCourseLengthDropdown)
				</div>
			</div>
			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.HasEnclosedTranscript)
				</div>
				<div class="editor-field input">
					@Html.EditorFor(model => model.HasEnclosedTranscript)
					@Html.ValidationMessageFor(model => model.HasEnclosedTranscript)
				</div>
			</div>
			<div class="field">
				<div class="editor-label label">
					@Html.LabelFor(model => model.EnclosedTranscript)
				</div>
				<div class="editor-field input">
					@Html.EditorFor(model => model.EnclosedTranscript)
					@Html.ValidationMessageFor(model => model.EnclosedTranscript)
				</div>
			</div>

		</fieldset>
		<p>
			If you do not sit this examination at the next available session or, if you must re-confirm your intention to sit within a reasonable period of time by completing a renewal of intention form
		</p>
		<p>
			<input type="submit" value="Submit" class="input_submit" />
		</p>
 }

	<div id="my-dialog"></div>
	
	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
		@Scripts.Render("~/bundles/jqueryui")
	}

</div>

<script type="text/javascript">
	$(document).ready(function ()
	{
		$('#TakeTestPlanDate').val($('#TakeTestPlanDate').val().substring(0, 10));  //Remove the hour from the date
		//Attach datepicker
		$('#TakeTestPlanDate').datepicker({
			dateFormat: "dd/mm/yy",
			changeMonth: true,
			changeYear: true,
			yearRange: "-0:+20"
		});

		$('#TrfDetails_DateOfTest').val($('#TrfDetails_DateOfTest').val().substring(0, 10)); //Remove the hour from the date
		//Attach datepicker
		$('#TrfDetails_DateOfTest').datepicker({
			dateFormat: "dd/mm/yy",
			changeMonth: true,
			changeYear: true,
			yearRange: "-80:-18"
		});

		$('#GraduationDate').val($('#GraduationDate').val().substring(0, 10));  //Remove the hour from the date
		//Attach datepicker
		$('#GraduationDate').datepicker({
			dateFormat: "dd/mm/yy",
			changeMonth: true,
			changeYear: true,
			yearRange: "-80:-18"
		});

		$('#CourseStartDate').val($('#CourseStartDate').val().substring(0, 10));  //Remove the hour from the date
		//Attach datepicker
		$('#CourseStartDate').datepicker({
			dateFormat: "dd/mm/yy",
			changeMonth: true,
			changeYear: true,
			yearRange: "-80:-18"
		});

		$('#CourseEndDate').val($('#CourseEndDate').val().substring(0, 10));  //Remove the hour from the date
		//Attach datepicker
		$('#CourseEndDate').datepicker({
			dateFormat: "dd/mm/yy",
			changeMonth: true,
			changeYear: true,
			yearRange: "-80:-18"
		});

		//only allow certain types of file to be uploaded.
		$('[type="file"]').change(function ()
		{
			var ext = $(this).val().split('.').pop().toUpperCase();
			if ($.inArray(ext, ['PDF', 'TIF', 'XLS', 'HTML', 'DBF', 'JPG', 'XLSX', 'TXT', 'BMP', 'DOCX', 'DOC', 'CVW', 'WRI']) == -1)
			{
				alert("Only the following file types are supported:\n'PDF', 'TIF', 'XLS', 'HTML', 'DBF', 'JPG', 'XLSX', 'TXT', 'BMP', 'DOCX', 'DOC', 'CVW', 'WRI'\n\nPlease choose another.");
			}
		});
		
		$(function ()
		{
			$('#my-dialog').dialog({
				autoOpen: false,
				width: 660,
				height: 590,
				title: "Add practice details",
				resizable: true,
				modal: true
			});
			
			$('#addPractice').click(function () {				
				$('#my-dialog').load("@Url.Action("SeePracticeDetail")", function () {					
					$(this).dialog('open');
					$(this).removeClass('ui-dialog-content ui-widget-content');
				});
				return false;
	});
	
		});
	});

</script>
