@model RCVS.Models.MembershipExaminationModel

@{
    ViewBag.Title = "RenewalOfDeclaration1B";
}

<h2>RenewalOfDeclaration1B</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MembershipExaminationModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RenewalReason)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RenewalReason)
            @Html.ValidationMessageFor(model => model.RenewalReason)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.YearToSit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.YearToSit)
            @Html.ValidationMessageFor(model => model.YearToSit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlanToSeePractice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlanToSeePractice)
            @Html.ValidationMessageFor(model => model.PlanToSeePractice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentlySeeingPractice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurrentlySeeingPractice)
            @Html.ValidationMessageFor(model => model.CurrentlySeeingPractice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IELTS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IELTS)
            @Html.ValidationMessageFor(model => model.IELTS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlannedTestDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlannedTestDate)
            @Html.ValidationMessageFor(model => model.PlannedTestDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
