@using RCVS.Helpers
@model RCVS.Models.SeeingPracticeModel
@{
	Layout = null;
}
<script type="text/javascript">

	function addActivity(Activity, RowNo) {
		var i;

		document.location = "SeeingPracticeDetail";		

		$('#dialog').dialog({
			autoOpen: false,
			width: 400,
			resizable: false,
			title: 'hi there',
			modal: true,
			open: function (event, ui) {
				$(this).load("@Url.Action("SeeingPracticeDetail")");
			},
			buttons: {
				"Close": function () {
					$(this).dialog("close");
				}
			}
		});

			$('#dialog').dialog('open');
		}

</script>


@{
	ViewBag.Title = "Initial / first declaration of intention to sit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Statutory Membership Examination</h1>

@using (Html.BeginForm("SeeingPractice", "Home", FormMethod.Post, new { @class = "forms default" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	<div class="wysiwyg">
		<h2>SeeingPractice</h2>

		<fieldset>
			<legend>Detail</legend>

			<div class="display-label">

				<div class="editor-label">
					@Html.LabelFor(model => model.PlannedYearToSit)
				</div>
				<div class="editor-field">
					@Html.EditorFor(model => model.PlannedYearToSit)
					@Html.ValidationMessageFor(model => model.PlannedYearToSit)
				</div>

			</div>
		</fieldset>

		<fieldset>
			<legend>Seeing Practice Arrangements</legend>

			@Html.Raw(Html.EditTable("tblPractices", Model.Practices, null))

			<input id="addQualification" value="Add Practice" type="button" onclick=' addActivity("tblPractices") ' />

		</fieldset>
		}
	</div>
}


