@model RCVS.Models.Form1AModel

@{
	ViewBag.Title = "Form1A";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@* Postcode Anywhere stuff 
<link rel="stylesheet" type="text/css" href="http://services.postcodeanywhere.co.uk/css/captureplus-1.35.min.css?key=by73-mh44-ra59-cz26" />
<script type="text/javascript" src="http://services.postcodeanywhere.co.uk/js/captureplus-1.35.min.js?key=by73-mh44-ra59-cz26&app=11960"></script>
<div id="by73mh44ra59cz2611960"></div>
*@

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>Form1AModel</legend>

		<div class="editor-label">
			@Html.LabelFor(model => model.YourNameInFull)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.YourNameInFull)
			@Html.ValidationMessageFor(model => model.YourNameInFull)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.AllFirstNames)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.AllFirstNames)
			@Html.ValidationMessageFor(model => model.AllFirstNames)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.AllSurnames)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.AllSurnames)
			@Html.ValidationMessageFor(model => model.AllSurnames)
		</div>

		@*<div class="editor-label">
			@Html.LabelFor(model => model.DayOfBirth)
		</div>
		<div class="editor-field">
			@Html.DropDownList ("Days")
			@Html.ValidationMessageFor(model => model.DayOfBirth)
		</div>*@

		<div class="editor-label">
			@Html.LabelFor(model => model.MonthOfBirth)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.MonthOfBirth)
			@Html.ValidationMessageFor(model => model.MonthOfBirth)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.YearOfBirth)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.YearOfBirth)
			@Html.ValidationMessageFor(model => model.YearOfBirth)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.AddressLine1)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.AddressLine1)
			@Html.ValidationMessageFor(model => model.AddressLine1)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.AddressLine2)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.AddressLine2)
			@Html.ValidationMessageFor(model => model.AddressLine2)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.AddressLine3)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.AddressLine3)
			@Html.ValidationMessageFor(model => model.AddressLine3)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Postcode)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Postcode)
			@Html.ValidationMessageFor(model => model.Postcode)
		</div>

		<p>
			<input type="submit" value="Create" />
		</p>
	</fieldset>
	
	<script src="/Scripts/paypal-button.min.js?merchant=roberto.caballero@advancedcomputersoftware.com" 
	        data-button="buynow" 
					data-name="Vet examination" 
	        data-amount="1400" 
	        data-currency="GBP" 
	        data-env="sandbox"
		></script>
	
	
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
