<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - Royal College of Veterinary Surgeons</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/themes/base/css")
	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)
</head>
<body class="rcvs webkit">
	<header>
	</header>

	<div id="body">
		@RenderSection("featured", required: false)
		<section class="content-wrapper main-content clear-fix">
			<div class="wrap three-columns">
				<div class="page">
					<div class="pagehead wrap three-columns">
						<div id="logocontainer">
							<a href="/home/" title="RCVS home" class="logo">
								<img src="~/Images/rcvs-logo.png" alt="RCVS logo">
							</a>
							<p class="tagline">Welcome to the Royal College of Veterinary Surgeons</p>
						</div>
						<div class="search">
							<a href="#" id="search_tips"><span class="icon"></span><span class="label">Search tips</span></a>
							<form action="/search/">
								<fieldset>
									<legend>Site Search</legend>
									<div>
										<input id="sitesearch-keywords" type="text" name="keywords" value="What are you looking for?" class="input_text value_toggle" title="What are you looking for?">
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<div class="pagemenu wrap three-columns">
						<ul id="nav">
							<li id="nav_home">
								<a href="/home/">Home</a>
							</li>
							<li id="nav_about-us">
								<a href="#">About</a>
							</li>
							<li id="nav_news-and-events">
								<a href="#">News & events</a>
							</li>
							<li id="nav_registration" class="active">
								<a href="/registration/" class="active">Registration</a>
							</li>
							<li id="nav_advice-and-guidance">
								<a href="#">Advice & guidance</a>
							</li>
							<li id="nav_education">
								<a href="#">Education</a>
							</li>
							<li id="nav_complaints">
								<a href="#">Complaints</a>
							</li>
							<li id="nav_practice-standards-scheme">
								<a href="#">Practice Standards</a>
							</li>
							<li id="nav_publications">
								<a href="#">Publications</a>
							</li>


						</ul>
					</div>
					<div class="pagebody">
						<div class="pagesubmenu">
							<ul class="nav">
								<li><span class="arrow"></span><a href="#"><span>Statutory Membership Exam</span></a>
									@Html.Partial("_LoginPartial")
								</li>
								<li><span class="arrow"></span><a href="#"><span>About the RCVS Register</span></a></li>
								<li><span class="arrow"></span><a href="#"><span>About the VN Register</span></a></li>
								<li><span class="arrow"></span><a href="#"><span>Check the Register/List</span></a></li>
								<li><span class="arrow"></span><a href="#"><span>Who can register?</span></a></li>
								<li><span class="arrow"></span><a href="#"><span>How to register</span></a></li>
								<li><span class="arrow"></span><a href="#"><span>Renewing your registration/listing</span></a></li>
								<li><span class="arrow"></span><a href="#"><span>Amending your registration/listing</span></a></li>
								<li><span class="arrow"></span><a href="#"><span>Voluntary removal and restoration</span></a></li>
								<li><span class="arrow"></span><a href="#"><span>Letters of good standing</span></a></li>
								<li><span class="arrow"></span><a href="#"><span>Replacement Membership Certificates</span></a></li>
								<li><span class="arrow"></span><a href="#"><span>Register of Veterinary Practice Premises</span></a></li>
								<li><span class="arrow"></span><a href="#"><span>VN pre-registration examinations</span></a></li>
								<li><span class="arrow"></span><a href="#"><span>Contact the Registration Department</span></a></li>
							</ul>


							<ul id="site-tools">
								<li id="tool-title">Web Tools</li>
								<li id="tool-print"><a href="#"><span class="icon"></span><span class="text">Print this page</span></a></li>
								<li id="tool-sendtofriend"><a href="#"><span class="icon"></span><span class="text">Send to a friend</span></a></li>
								<li id="tool-feedback"><a href="#"><span class="icon"></span><span class="text">Give us feedback</span></a></li>
								<li id="tool-contact"><a href="#"><span class="icon"></span><span class="text">Contact us</span></a></li>
							</ul>
						</div>
						<div class="pagecontent">
							@RenderBody()
						</div>
					</div>
					<div class="pagetools">
						<div class="menu">
							<ul>
								<li><a href="#">Contact</a>
									&nbsp;|&nbsp;</li>

								<li><a href="#">Feedback</a>
									&nbsp;|&nbsp;</li>

								<li><a href="#">Site map</a>
									&nbsp;|&nbsp;</li>

								<li><a href="#">A to Z</a>
									&nbsp;|&nbsp;</li>

								<li><a href="#">Accessibility</a>
									&nbsp;|&nbsp;</li>

								<li><a href="#">Privacy policy</a>
									&nbsp;|&nbsp;</li>

								<li><a href="#">Cookie policy</a>
									&nbsp;|&nbsp;</li>

								<li><a href="#">Document library</a>
								</li>
							</ul>
						</div>


						<div class="copyright">&copy; Copyright <span id="js-site-name">RCVS</span> 2013</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer>
		<div class="content-wrapper">
			<div class="float-left">
				<p>&copy; @DateTime.Now.Year</p>
			</div>
		</div>
	</footer>
</body>
</html>
