@if (Request.IsAuthenticated)
{
	<ul>
		<li>Hello, @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(User.Identity.Name)</li>
		<li>
			@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
			{
				@Html.AntiForgeryToken()
				<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
			}
		</li>
		<li><a href="@Url.Action("DeclarationOfIntention", "Home")">Initial declaration of intention to sit</a></li>
		<li><a href="@Url.Action("RenewalOfDeclaration", "Home")">Renewal of Declaration</a></li>
		<li><a href="@Url.Action("SeeingPractice", "Home")">Seeing Practice</a></li>
		<li><a href="@Url.Action("StatutoryMembershipExamination", "Home")">Statutory Membership Examination</a></li>
	</ul>
}
else
{
	<ul>
		<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
